/*This will be the primary source for all of the CSS for my portfolio webpage will be kept*/

/*psuedo classes********************************************************/

a:visited {
	color: #333;
}

a:link {
	color: #333;
}

a:hover {
	color: red;
}


.navigation {
	display: inline-block;
}
