/*This will be the primary source for all of the CSS for my portfolio webpage will be kept*/

/*******************************************************
GENERAL
*******************************************************/

h1 {
	padding: 0;
	margin: 0;
}

/*******************************************************
Heading
*******************************************************/

header {
	max-width: 100%;
	text-align: center;
	background: linear-gradient(#0c284f, transparent 90%, #62625C 100%), 
				#0c284f url('../img/circuit_1920.jpg') no-repeat center;
	background-image: cover;
	color: #33D6FF;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, .8);
	margin: 0px;
	padding: 0px;
	height: 400px;
}

header h2 {
	margin: 0;
}

.jason { /*this is a div that contains the profile picture*/
	background: url('../img/Jason.jpg');
	border-radius: 100%;
	box-shadow: inset 0px 0px 30px 5px rgba(0, 71, 178, .8), 
				0px 0px 20px 3px #33D6FF;
	border: solid 1px #0c284f;
	max-width: 175px;
	height: 175px;
	margin: auto;
}

/*******************************************************
NAVIGATION LINKS
*******************************************************/
/*this is for the icon based nav bar*/
.navigation {
	padding: 0;
	margin: 0;
	max-width: 100%;
	list-style: none;
}

.navigation li {
	float: left;
	padding: 0px 10% 0px 10%;
	max-width: 4.5%;
	height: 100px;
	margin:0;
	clear: none;
}

.navigation li a {
	text-decoration: none;
}

.navigation li a p {
	padding: 0;
	margin: auto;
	color: #33D6FF;
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: bold;
}

.contactimg {
	margin-top: 15px;
}

.currentPage {
	border: solid 2px #33D6FF;
	box-shadow: 0px 0px 20px 3px #33D6FF, 
				inset 0px 0px 10px 3px #33D6FF;
	border-radius: 100%;
	padding: 5px;
}

/*******************************************************
BODY
*******************************************************/
body {
	background: #62625C;
	max-width: 100%;
	padding: 0;
	margin: 0;
}

/*******************************************************
PSUEDO CLASSES
*******************************************************/

a:hover {
	color: #B27212;
}

/*******************************************************
FOOTER
*******************************************************/
.footer {
	border-top: solid 2px #ddd;
	margin: auto;
	text-align: center;
	background: #0c284f;
}

.facebook{
	max-width: 40px;
}
/*******************************************************
CLEARFIX
*******************************************************/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}